<form [formGroup]="residenceForm" (ngSubmit)="addResidence()">
  <label for="name">Nom</label>
  <input id="name" formControlName="name" type="text" />

  <label for="address">Adresse</label>
  <input id="address" formControlName="address" type="text" />

  <label for="image">Image</label>
  <input id="image" formControlName="image" type="text" />

  <label for="status">Statut</label>
  <select id="status" formControlName="status">
    <option value="active">Active</option>
    <option value="inactive">Inactive</option>
  </select>

  <button type="submit" [disabled]="!residenceForm.valid">Ajouter Résidence</button>
</form>
