<div class="residences-container">
  <div *ngFor="let residence of listResidences" class="residence-card">
    <img [src]="residence.image" alt="{{ residence.name }}" class="residence-img">
    <div class="residence-info">
      <h3>{{ residence.name }}</h3>
      <p><strong>Adresse:</strong> {{ residence.address }}</p>
      <p class="status" [ngClass]="getStatusClass(residence.status)">
        <strong>Statut:</strong> {{ residence.status }}
      </p>
      
      <div class="residence-actions">
        <button [routerLink]="['/apartments-by-residence', residence.id]" class="btn btn-primary">
          Voir Appartements
        </button>
    
       
      </div>
    </div>
  </div>
</div>
